:root {
    --main-bg-color: rgb(30, 30, 30);
    --main-text-color: rgb(230, 230, 230)
}

@font-face {
    font-family: mainfont;
    src: url(../fonts/rockford_sans/RockfordSans-Light.otf)
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    font-family: mainfont;
    font-weight: bold
}

h1 {
    display: inline-block;
    padding-top: 0.5em
}

a {
    color: var(--main-text-color);
    text-decoration: none
}

a:hover {
    color: purple
}

button {
    background-color: white;
    border-radius: 5px
}

hr {
    border: none
}

.col {
    position: relative
}

.map {
    text-align: center
}

.smallButton {
    position: absolute;
    right: 0;
    top: 30%
}

.transparentButton {
    color: transparent;
    background-color: transparent;
    border-color: transparent
}

.pop-up-text{
    font-weight: 100
}

#flagContainer {
    max-width: 250px;
    max-height: auto
}

#userInput {
    background-color: white;
    border-radius: 5px
}

#hint {
    width: 100px
}

#footer {
    position: absolute;
    bottom: 0
}

#modalImg {
    width: 100%
}

.modal-body {
    text-align: left;
    color: black
}

.modal-title {
    color: black
}

#linkButBlack {
    color: black
}

#linkButBlack:hover {
    color: purple
}